.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0d2c54;
}

.header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}
.hero {
  text-align: center;
  padding: 100px 20px;
  background: #f4f6f8;
}

.hero h1 {
  font-size: 40px;
  color: #0d2c54;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  color: #333;
  margin-bottom: 25px;
}

.btn {
  background: #e63946;
  color: white;
  padding: 12px 28px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
}
.about {
  padding: 70px 20px;
  text-align: center;
  background: #ffffff;
}

.about h2 {
  font-size: 32px;
  color: #0d2c54;
  margin-bottom: 20px;
}

.about p {
  max-width: 800px;
  margin: 0 auto 15px;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}
  .services {
  padding: 70px 20px;
  background: #f4f6f8;
  text-align: center;
}

.services h2 {
  font-size: 32px;
  color: #0d2c54;
  margin-bottom: 40px;
}

.service-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.service {
  background: white;
  padding: 25px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
.why-us {
  padding: 70px 20px;
  background: #ffffff;
  text-align: center;
}

.why-us h2 {
  font-size: 32px;
  color: #0d2c54;
  margin-bottom: 35px;
}

.why-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.why-item {
  background: #f4f6f8;
  padding: 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}
