.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0d2c54;
}

.header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}
