h2{
  border-left:5px solid #0d6efd;
  padding-left:10px;
}

.card{
  transition:0.3s;
}
.card:hover{
  transform:translateY(-6px);
}
.hero-bg{
  height:100vh;
  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url('bg.jpg');
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero-content{
  color:white;
  padding:20px;
}

.hero-content h1{
  font-size:48px;
  letter-spacing:2px;
  margin-bottom:15px;
}

.hero-content p{
  font-size:20px;
  opacity:0.9;
}

.hero-btn{
  display:inline-block;
  margin-top:25px;
  padding:14px 30px;
  background:#0d6efd;
  color:white;
  text-decoration:none;
  font-weight:bold;
  border-radius:6px;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  padding: 12px 18px;
  border-radius: 50px;
  font-size: 14px;
  text-decoration: none;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
}
